@import "../mixins/mixins";
@import "./var.scss";

/* Text color
 -------------------------- */
@include b(text) {
  @include e(link) {
    cursor: pointer;
    color: $--text-link-color-base;
  }

  @include when(success) {
    cursor: pointer;
    color: $--text-link-success-color;
  }

  @include when(warning) {
    cursor: pointer;
    color: $--text-link-warn-color;
  }

  @include when(danger) {
    cursor: pointer;
    color: $--text-link-danger-color;
  }
}

/* Label text color font-size
 -------------------------- */
@include b(label) {
  color: $--label-color-base;
  font-size: $--font-size-base;

  @include e(content) {
    color: $--label-content-color;
    font-size: $--font-size-base;
  }
}